# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

#Folders
downloadsAudio/

# Virtual environment
venv/
env/
.vscode/
.env

# IDE specific
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite
*.db

# Compiled files
*.dll
*.exe
*.o

# Miscellaneous
.DS_Store
node_modules/

# Ignore service account key for Firebase
pandora-qs325r-firebase-adminsdk-uulau-ead47b9736.json